<ul ngbNav #nav="ngbNav" class="nav-tabs">
	<li ngbNavItem [routerLink]="['home']"routerLinkActive="active">
		<a ngbNavLink><i class="bi bi-house-fill"></i> Home</a>
		<ng-template ngbNavContent>
            
		</ng-template>
	</li>
	<li ngbNavItem>
		<a ngbNavLink  [routerLink]="['register']"routerLinkActive="active"><i class="bi bi-pencil-square"></i> Register</a>
		<ng-template ngbNavContent>
		</ng-template>
	</li>
    <li ngbNavItem>
		<a ngbNavLink [routerLink]="['login']"routerLinkActive="active"><i class="bi bi-person-fill"></i> Login</a>
		<ng-template ngbNavContent>
		</ng-template>
	</li>
	<li ngbNavItem >
		<div (click)="fake()">
		<a ngbNavLink [routerLink]="['home']"routerLinkActive="active"><i class="bi bi-person-fill"></i> Fake-News</a>
		<ng-template ngbNavContent>
		</ng-template>
		</div>
	</li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

